<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.unified-search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>007DA87E-7AF4-4F4F-AC84-A7F20062E1E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA61C12F-8D17-4669-9C82-251AC35D8F18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07F7221C-D5C5-43D8-8C80-210C70B54562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46D359F-F39E-4791-BBB4-80781B812253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3114F664-BF1D-4391-ADE5-B8CF14428C59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A331AA7-773E-4A8A-B7E0-53DDDC07CEC2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Jump to Filters</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D32DC608-3B37-42DD-AD31-4DD061D8F971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5821A175-7B9A-4232-A3EB-0FB7A268325A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38BBCF3D-B944-4D62-96BF-332A3B032905</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70F15E1E-3E40-4FCA-9F7E-D988C60751C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5821A175-7B9A-4232-A3EB-0FB7A268325A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A7A7CAAC-32D6-4845-A85A-ED15DB31A104</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>007DA87E-7AF4-4F4F-AC84-A7F20062E1E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B1578A26-23E4-4BD3-A64C-3BFFDBB54DF8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7A5C12D-4FF1-48EE-8050-0193C97705BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A331AA7-773E-4A8A-B7E0-53DDDC07CEC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46D359F-F39E-4791-BBB4-80781B812253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>923C14CA-8F67-44F5-A5D5-BE201BAA7892</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A331AA7-773E-4A8A-B7E0-53DDDC07CEC2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Jump to Filters</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D32DC608-3B37-42DD-AD31-4DD061D8F971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7A5C12D-4FF1-48EE-8050-0193C97705BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6013DCF-4F1F-49B0-89E8-DF208BC38CF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33C43E6A-D7E2-4400-8DB4-778E050D6719</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC97F8FA-F711-402A-8E88-4E2D79FB4D1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46D359F-F39E-4791-BBB4-80781B812253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D32DC608-3B37-42DD-AD31-4DD061D8F971</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46D359F-F39E-4791-BBB4-80781B812253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E46D359F-F39E-4791-BBB4-80781B812253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70F15E1E-3E40-4FCA-9F7E-D988C60751C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Custom web search aggregator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unified Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>38BBCF3D-B944-4D62-96BF-332A3B032905</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Unified Search for &apos;{query}&apos;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>923C14CA-8F67-44F5-A5D5-BE201BAA7892</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5821A175-7B9A-4232-A3EB-0FB7A268325A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query.trim} || </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8A331AA7-773E-4A8A-B7E0-53DDDC07CEC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>FA61C12F-8D17-4669-9C82-251AC35D8F18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>xattr -d com.apple.quarantine ./Unified\ Search &gt;/dev/null 2&gt;&amp;1
./Unified\ Search &quot;$1&quot;
#~/$DEV &quot;$1&quot;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Unified Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E46D359F-F39E-4791-BBB4-80781B812253</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Unified Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3114F664-BF1D-4391-ADE5-B8CF14428C59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>browse</string>
						<key>uid</key>
						<string>A7A7CAAC-32D6-4845-A85A-ED15DB31A104</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>config</string>
						<key>outputlabel</key>
						<string>config</string>
						<key>uid</key>
						<string>B1578A26-23E4-4BD3-A64C-3BFFDBB54DF8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>70F15E1E-3E40-4FCA-9F7E-D988C60751C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>|configuring|</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>config_search_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>007DA87E-7AF4-4F4F-AC84-A7F20062E1E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query.trim} </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D32DC608-3B37-42DD-AD31-4DD061D8F971</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BC97F8FA-F711-402A-8E88-4E2D79FB4D1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>D6013DCF-4F1F-49B0-89E8-DF208BC38CF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>33C43E6A-D7E2-4400-8DB4-778E050D6719</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B7A5C12D-4FF1-48EE-8050-0193C97705BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>init</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>07F7221C-D5C5-43D8-8C80-210C70B54562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![Unified Search Workflow Icon](icon.png)

---
Created by [Patrick Sy](https://github.com/zeitlings) | [Github](https://github.com/zeitlings/alfred-unified-search) | [Alfred Forum](https://www.alfredforum.com/topic/22350-unified-search/) | [Buy me a Coffee](https://ko-fi.com/zeitlings) ☕  
---


## Usage

### Unified Search

Query with Searches via the `us` keyword, [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/), [Universal Action](https://www.alfredapp.com/help/features/universal-actions/), or [Fallback Search](https://www.alfredapp.com/help/features/default-results/fallback-searches/). 

![Unified Search Keyword Defaults](images/preview/keyword1.png)
- &lt;kbd&gt;⇥&lt;/kbd&gt; Enter explicit filter mode
- &lt;kbd&gt;⌥&lt;/kbd&gt; View web search URL
- &lt;kbd&gt;⇧&lt;/kbd&gt; View shorthand keyword (if available)


#### Explicit and Suffix Filtering

You can choose between two approaches that control the behavior of how the web search instances are filtered.

The explicit filter mode is always available by tapping &lt;kbd&gt;⇥&lt;/kbd&gt;, but is optional when the behavior is set to __Filter Always__. This enables the suffix mode, which uses the last word of your query (the suffix) to try to find a matching web search instance. If a match is found, the suffix is removed from the query that will be sent to the website. 

![Unified Search Keyword Suffix Search](images/preview/keyword2.png)

If the behavior is set to __Filter on Tab__, it is mandatory to enter filter mode by tapping &lt;kbd&gt;⇥&lt;/kbd&gt;, and only the default search instances will be displayed until you do.


![Unified Search Keyword Explicit Search](images/preview/keyword3.png)


__Note__: Typing `*` as wildcard suffix lists all available web searches.


### Extending the Web Searches

The most convenient way to include custom searches is to configure them using Alfred&apos;s internal [custom search](https://www.alfredapp.com/help/features/web-search/#custom) feature and enable integration with *Unified Search* on the left.

Alternatively, you can edit and customize `searches.config.pkl`, located in the workflow folder, and evaluate it to generate an updated version of `searches.json`, or edit this file directly. If you choose to do this, __be sure to back up your customizations before updating the workflow__ or your changes will be lost.


### Configuration

You can add specific web searches to the default options or remove them via the internal configuration. You can also activate or deactivate them entirely.


![](images/preview/config1.png)
![](images/preview/config2.png)
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Add to / Remove from defaults
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Activate / Deactivate web search</string>
	<key>uidata</key>
	<dict>
		<key>007DA87E-7AF4-4F4F-AC84-A7F20062E1E0</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>07F7221C-D5C5-43D8-8C80-210C70B54562</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>3114F664-BF1D-4391-ADE5-B8CF14428C59</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>33C43E6A-D7E2-4400-8DB4-778E050D6719</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>38BBCF3D-B944-4D62-96BF-332A3B032905</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>5821A175-7B9A-4232-A3EB-0FB7A268325A</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>70F15E1E-3E40-4FCA-9F7E-D988C60751C7</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>8A331AA7-773E-4A8A-B7E0-53DDDC07CEC2</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>923C14CA-8F67-44F5-A5D5-BE201BAA7892</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>B7A5C12D-4FF1-48EE-8050-0193C97705BC</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>BC97F8FA-F711-402A-8E88-4E2D79FB4D1D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>D32DC608-3B37-42DD-AD31-4DD061D8F971</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>D6013DCF-4F1F-49B0-89E8-DF208BC38CF6</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>E46D359F-F39E-4791-BBB4-80781B812253</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>FA61C12F-8D17-4669-9C82-251AC35D8F18</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>us</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>always</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Filter Always</string>
						<string>always</string>
					</array>
					<array>
						<string>Filter on Tab</string>
						<string>onTab</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>To filter web searches, either use the last query component, which is removed from the query, or require tapping ⇥ to enter filter mode.</string>
			<key>label</key>
			<string>Behaviour</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>filter_behaviour</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show matches only</string>
			</dict>
			<key>description</key>
			<string>If checked, only matching results are displayed, and default options are used if no match is found. If unchecked, all web search instances are listed ranked by string similarity score.</string>
			<key>label</key>
			<string>Filtered Searches</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_matches</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Integrate custom web search instances</string>
			</dict>
			<key>description</key>
			<string>Include enabled custom searches configured with Alfred: features&gt;websearch&gt;search</string>
			<key>label</key>
			<string>Alfred Web Search</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_custom_alfred_websearches</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEV</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-unified-search</string>
</dict>
</plist>
